# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Yii
assets/*
!assets/css
!assets/image
!assets/js/
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db


#cf
upload/*
assets/*
!assets/css
!assets/image
!assets/js
!assets/.gitignore
protected/runtime/*
protected/runtime/*.log
!protected/runtime/.gitignore
protected/data/*.db
protected/runtime/application.log
admin/protected/runtime/application.log